.pfi-pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

.pfi-page {
  background-color: white;
  font-family: monospace;
  font-size: 12px;
  white-space: pre-line;
  position: absolute;
  overflow: hidden;
  word-break: break-word;
}

.pfi-page__pdf-text {
  color: transparent;
  position: absolute;
  transform-origin: 0% 0%;
}

.pfi-page__pdf-text::selection {
  color: transparent;
  // Can't use opacity with ::selection so this is CSS lightpink
  // (to match comment selection)
  background-color: rgba(255, 182, 193, 0.4);
  opacity: 0.5;
}

.pfi-page-highlight {
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-style: italic;
  z-index: 1;
  opacity: 0.4;

  &:before {
    content: " ";
    position: absolute;
    width: calc(100% + 5px);
    left: -3px;
    top: 1px;
    height: 100%;
    z-index: -1;
    background-color: $highlightColour;
  }

  &--focused:before {
    background-color: darken($highlightColour, 20%);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.2s;
  }
}
