.sparkchart-bar {
    position: relative;
    width: 100%;
    height: 1rem;
    background-color: $secondary;
    display: flex;
}

.sparkchart-bar__cell {
    height: 1rem;
}

.sparkchart-bar__success {
    background-color: $accessibleGreen;
}

.sparkchart-bar__failure {
    // TODO: replace this with an accessible red that doesn't strobe
    background-color: $warningColour;
}