.viewer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
  width: 100%;
  background-color: $previewDark;
}

.viewer__main {
  height: calc(100vh - 80px);
  flex-grow: 1;
  overflow: auto;
  display: flex;
}

.viewer__footer {
  flex: 1;
}

.viewer__no-text-preview {
  text-align: center;
  margin-top: 50px;
  background-color: $secondaryLight;
  margin: $baseSpacing * 2 auto 0;
  padding: $baseSpacing * 2;
  border: 1px solid $borderColour;
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
}

.viewer__preview-img {
  max-width: calc(100% - 40px);
  margin: 20px auto 20px auto;
}

.viewer__preview-video {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.viewer__preview-audio {
  height: 100%;
  width: 100%;
}

.viewer__toggle-highlighting-panel {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, -100%);
  background-color: $primaryDark;
  white-space: nowrap;
  padding: $baseSpacing;
  width: 150px;
}

.viewer__toggle-highlighting-button {
  margin-left: $baseSpacing;
  margin-right: $baseSpacing;
}

.viewer__sidebar {
  height: calc(100vh - 50px);
  overflow-y: scroll;
}
