target
*.histogram
fingerprint.cache
.idea
neo4j-transaction-*.log
timing-*.csv
node_modules
minio-data
logs
backend/public
npm-debug.log
.DS_Store
backend/conf/site.conf
.bsp
.bloop
.metals
metals.sbt
frontend/build
.gitignore
.git
docs
scripts
util
*.md
Brewfile
Brewfile.lock.json
Dockerfile
docker-compose.yml
riff-raff.yaml
