target/
*.histogram
fingerprint.cache
.idea
neo4j-transaction-*.log
timing-*.csv
node_modules/
logs/
backend/public/build
npm-debug.log
.DS_Store
backend/conf/site.conf
.bsp/
.bloop/
.metals/
metals.sbt