// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrap {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  padding: 40px;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

input::placeholder,
textarea::placeholder {
  color: $secondaryLight;
}

button:focus,
input[type="text"]:focus {
  outline: none;
  box-shadow: 0px 0px 5px $primaryLight;
  box-shadow: 0px 0px 5px -webkit-focus-ring-color;
}
