.bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: var(--color-primary);
  padding: 6px;
  gap: 6px;
}

.bar button {
  padding: 1px 4px;
  border: 2px;
  border-radius: 4px;
  margin: 1px;
  background-color: var(--color-secondary);
}
