.popover {
  position: absolute;
  right: 5%;
  top: 0;
  z-index: 10;
}

.container {
  background: var(--color-primary);
  padding: 6px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.inputContainer {
  position: relative;
}

.input {
  width: 400px;
}

.count {
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 4px;
  right: 5px;
}
